<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC85aAOHz2T8ze91vWj4sXolXQ86oF3YPg</string>
	<key>GCM_SENDER_ID</key>
	<string>555320798074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driverHubPartner.app</string>
	<key>PROJECT_ID</key>
	<string>driverhub-partners-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>driverhub-partners-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555320798074:ios:54b0edefac0daa1f76c4c3</string>
</dict>
</plist>